{% extends "layout.html"%}
{% block content %}
<div class="container my-5 py">


  <!--Section: Block Content-->
  <section>

    <div class="card indigo">
      <div class="card-body">

        <p class="h5 white-text pb-4 mb-3"><i class="fas fa-chart-pie px-2"></i>Account dashboard</p>

        <canvas id="lineChart1" class="mb-4" height="100"></canvas>

      </div>

      <div class="card-body white">

        <!--Grid row-->
        <div class="row text-center text-muted my-2">

            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">

              <span class="min-chart mt-0 mb-3" id="chart-pageviews" data-percent="86">
                <span class="percent"></span>
              </span>
              <p class="small mb-md-0">Mail-Orders</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">

              <span class="min-chart mt-0 mb-3" id="chart-sales" data-percent="54">
                <span class="percent"></span>
              </span>
              <p class="small mb-md-0">Online</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-0">

              <span class="min-chart mt-0 mb-3" id="chart-downloads" data-percent="72">
                <span class="percent"></span>
              </span>
              <p class="small mb-0">In-Store</p>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

      </div>
    </div>


  </section>
  <!--Section: Block Content-->


</div>
{% endblock %}